.kpsFontcolor
{
    color:rgba(29, 67, 112, 1) !important;
}
.addquickFilterFontsize
{
    font-size: 16px !important;
    font-weight:600 !important;
    line-height: 21.28px !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}
.quickfilterDropdown
{
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}
/* .addKPISproperty
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-size: 28px !important;
    line-height: 42.56px !important;
    font-weight: 700 !important;
} */

.addKPISproperty
{
   font-size: 20px !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-weight: 700 !important;
    color: rgba(29, 67, 112, 1) !important;
}

.allquickattribute
{
    padding-top:12px !important;
    padding-bottom:12px !important;
}
/* .addquickmarginStart
{
    margin-left:4.36% !important;
    margin-right:4.36% !important;
    margin-top:10px !important;
} */
.quickFilter
{
    background-color: rgba(235, 235, 237, 1)!important;
}
.quickFilterfontcolor
{
    color:rgba(4, 187, 241, 1) !important;
    padding-top:30px !important;
    padding-bottom:32px !important;
    padding-left:36px !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-weight:700 !important;
    line-height:21.28px !important;
}
.quickDropdown
{
    /* margin-top: 11px !important;
    padding-top:7px !important;
    padding-bottom:8px !important;
    padding-left: 5px !important;
    width:100%;
    border: none;
    color:rgba(0, 0, 0, 0.37); */
    background-color: white !important;
    border-radius: 0px !important;
    margin-top: 11px !important;
    width: 100% !important;
    padding-left: 0px !important;
    color:rgba(0, 0, 0, 0.37)!important;
    border-color:rgba(235, 235, 237, 1) !important;
    border: 1px solid;
}
.IncludeobsoluteDFU
{
    padding-top:7px !important;
    padding-bottom:8px !important;
    padding-left: 5px !important;
    border: 1px solid #EBEBED !important;
    border-radius:4px !important;
    background: #FFFFFF;
    color: rgba(17, 125, 175, 1);
    margin-top: 11px !important;
    text-align: center;
}
.addMArgintopfordemandandForecast
{
    margin-top: 25px !important;
}
.addPaddingstart
{
    padding-left:5.36% !important;
}
/* .addPaddingend
{
    padding-right:5.36% !important;

} */
/* .DemandandFcfonts
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-weight:700 !important;
    font-size: 16px !important;
    line-height: 21.28px !important;
    padding-left: 20px !important;
    padding-top: 12px !important;
} */
.DemandandFcfonts
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-weight:600 !important;
    font-size: 14px !important;
    line-height: 12px !important;
    padding-left: 20px !important;
    padding-top: 12px !important;
}

/* .DemandandFcfontsRight
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
   font-weight:600 !important;
   font-size:16px !important;
   line-height: 21.28px !important;
   padding-top: 12px !important;
   padding-right:20px !important;
} */

.DemandandFcfontsRight
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
   font-weight:500 !important;
   font-size:12px !important;
   line-height: 12px !important;
   padding-top: 12px !important;
   padding-right:20px !important;
}

.addpadleft
{
    padding-left:10px !important;
    padding-right: 29px !important; 
}
.addFontforcenterData
{
    font-size: 32px !important;
    color: rgba(34,24,12,1) !important;
    font-weight:700 !important;
    line-height: 42.56px !important;
}
/* .addDemandvolumestyle
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-weight:400 !important;
    font-size:14px !important;
    line-height: 16px !important;
    margin-top: 10px !important;
    color: rgba(34, 24, 12, 1) !important;
} */

.addDemandvolumestyle
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-weight:500 !important;
    font-size: 12px !important;
    /* line-height: 12px !important; */
    letter-spacing: 0.3px;
    margin-top: 10px !important;
    color: rgba(34, 24, 12, 1) !important;
}