@media screen and (max-width:500px) {
 
 .mobileView1
 {
   padding-left: 15% !important;
   width: 71.9% !important;
}
.collaborativeNormalmode
{
   width:300px !important;
}
.mobileView2
{
   padding-left: 10% !important;
}
.collaborativeBtn
{
   width:85% !important;
}
.Forecastbutton
{
   width:85% !important;
}
.addpadleft
{
   padding-left:5% !important;
}

.addColumnwidthforBarfc
{
   margin-left: 5.5% !important;
   width:92% !important;
   margin-top: 36px!important;
}
.addpadlefdemeanddate
{
   padding-left:5% !important;
}
.quickFilterfontcolor
{
   padding-left:2.5% !important;
   padding-top:28px !important;
   padding-bottom:15px !important;
}
.addFilterbyforcastalignment
{
   padding-right:8.36%!important;
}
.allquickattribute
{
   padding-top: 15px !important;
    padding-bottom: 20px !important;
}
.mobileView3
{
   margin-top: 30px !important;
   /* width: 91% !important; */
}
.addMarginLeftforleftgraph
{
   margin-left:0px !important;
   margin-top: 20px !important;
}
.addotherChoosegraph
{
   padding-left:10% !important;
}
.mobileView4
{
   padding-left:10% !important;
}
.mobileView5
{
   padding-left:9% !important;
}
.mobileView6
{
padding-top: 38px !important;
}
.mobileView7
{
 padding-left:6% !important;
}

.mobileView8
{
   padding-left: 7% !important;
}
.addPaddingstart
{
    padding-right: 5% !important;
}
.addPaddingend
{
    padding-left:5% !important;
    padding-top: 5% !important;

}
.quickFilterfontcolor
{
    color:rgba(4, 187, 241, 1) !important;
    padding-top:15px !important;
    padding-bottom:15px !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-weight:700 !important;
    line-height:21.28px !important;
}

 }


 @media screen and (max-width:768px) {
   .addPaddingstart
   {
       padding-right: 5% !important;
   }
   .addPaddingend
   {
       padding-left:5% !important;
       padding-top: 5% !important;
   
   }
}